.app {
    min-height: 100vh !important;
}

/*  ---[ Utility Classes ]--- */
.component-title {
    text-align: center;
    text-transform: uppercase;
    margin: 1em 0 !important;;
}

.ant-spin {
    position: absolute !important;
    bottom: 50%;
    width: 100%;
}
