/* ---[ SignIn/SignUp Pages ]--- */
.page-container-row {
  justify-content: center;
}

.sign-in-page, 
.sign-up-page {
    > div {
        > h2 {
            margin: 0;
            padding: 1rem;
            text-align: center;
            font-size: 3rem;
        }

        > .ant-divider {
            margin-top: 0;
            margin-bottom: 3rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 1.75rem 0 !important;

        .ant-form-item {
            justify-content: center;

            &:last-child {
                text-align: center;
            }
        }
    }
}

.sign-up-link {
  text-align: center;
}

.ant-alert-banner {
    margin: auto !important;
    display: flex !important;
    align-items: center !important;

    .ant-alert-icon {
        font-size: 35px !important;
        margin: 0 !important;
    }

    .ant-alert-content {
        text-align: center;

        .ant-alert-message {
            font-weight: bold;
        }
    }
}