/*  ---[ Crypto Comp ]--- */
.crypto-container {
    margin: 0 2em;
    flex-direction: column !important;

    .all-assets-link {
        margin: 0.5rem 0;
    }

    > div {
        margin: 1em 0;
    }

    table {
        .ant-table-cell {

            .ant-avatar {
              margin-right: 1em;
            }
            
             > span {
                display: flex;
                align-items: center;

                > a {
                    display: inline-block;
                    color: #000;
                }
            }
        }
    }
}
