/*  ---[ Crypto Comp ]--- */
.crypto-container {
    margin: 0 2em;
    flex-direction: column !important;

    > div {
        margin: 1em 0;
    }

    table {
        .ant-table-cell {

            .ant-avatar {
              margin-right: 1em;
            }
            
             > span > a {
                color: #000;
             }
        }
    }
}
