header.navbar {
    position: relative;

    .anticon-menu {
        color: hsla(0deg, 0%, 100%, 0.65);
        font-size: 1rem;
    }

    span.settings-button {
        position: absolute;
        right: 0;
        top: 0;
        height: inherit;
        padding-right: 2rem;
        color: hsla(0,0%,100%,.65);

        > span {
            font-size: 1.25rem;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}

.ant-popover-title {
    text-align: center;
    font-size: 0.75rem;
}

.ant-popover-inner-content {
    text-align: center;
    
    > div.logged-out {
        display: flex;
        justify-content: space-between;

        > button {
            padding: 0;
            width: 68px;
        }
    }
}

.ant-drawer-content-wrapper {
    .ant-drawer-title {
        text-align: center;
        font-weight: bold;
    }
    
    .ant-drawer-close {
        margin: 0;
        order: 1;
    }

    .ant-drawer-body {
        background-color: #f0f2f5;
        border-top: 0.5px solid;

        > div {
            margin-bottom: 0.5rem;

            > span {
                font-size: 1rem;
                font-weight: bold;

                > span:first-child {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}