body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-modal-footer button.ant-btn {
  border-radius: 32px;
}

// @mixin sticky-position {
//   position: fixed;
//   @supports (position: sticky) {
//     position: sticky;
//   }
// }
  
// .banner {
// @include sticky-position;
// }