/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
*/

/*  ---[ Utility Classes ]--- */
.component-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5em;
}

/*  ---[ Global Metric Comp ]--- */
.global-metrics-container {
  justify-content: center;
}

.ant-statistic {
  text-align: center;
}

/*  ---[ Crypto Comp ]--- */
.crypto-container {
  margin-bottom: 25px;
  flex-direction: column;
}

/*  ---[ Footer Comp ]--- */
footer.site-footer {
  background-color: #001529;
  color: white;
  display: flex;
  justify-content: center;
  bottom: 0;
  flex-direction: column;
  font-size: 15px;
  padding: 10px;
}

/*  ---[ DETAILS PAGE ]--- */
.details-page-container .coin-desc-container,
.coin-links-col {
  padding: 20px;
  text-align: left;
}

.coin-desc-container > h1,
.coin-links-title {
  color: #0C48DD !important;
  font-weight: 700 !important;
  font-size: 28px !important;
}

.coin-desc-container > p {
  font-size: 16px;
}

.coin-desc-container > p strong,
h1.coin-stats-title {
  color: #0C48DD !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

h1.coin-stats-title {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 10px;
}

.coin-title,
.crypto-page-title {
  margin-top: 25px;
}

.details-page-container .ant-col {
  width: 50%;
}

.coin-stats-row {
  margin: 50px 0;
  justify-content: space-evenly;
}

.coin-stats-row > .ant-col {
  padding: 20px;
}

.coin-stats-row span.ant-typography {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  font-size: 18px;
}

.coin-stats-row span.ant-typography > b,
.coin-stats-row span.ant-typography .anticon {
  margin-left: 5px;
}

.coin-stats-row .ant-divider-horizontal {
  margin: 10px 0 !important;
}

.coin-links-col ul li {
  list-style: none;
  padding: 7px;
  font-size: 14px;
}

.coin-stats-row .ant-typography .anticon-check {
  color: greenyellow;
}

.coin-links-col > ul {
  padding-left: 0;
}

.coin-links-row {
  justify-content: space-between;
}

.coin-links-row .link-type {
  text-transform: capitalize;
}

.coin-links-row .link-url {
  font-weight: 700;
  font-size: 1rem;
}

.exhange-header {
  padding: 12px;
  text-align: left;
}

.exhange-content {
  text-align: left;
}

.exhange-content .ant-avatar-image {
  margin: 0 10px!important;
}

.ant-collapse-content-box {
  text-align: left;
}

.ant-menu-vertical {
  position: relative;
  max-width: 25%;
  top: -8px;
  left: -20px;
}

@media only screen and (max-width: 698px){
  .details-page-container .coin-stats-row,
  .details-page-container .coin-desc-link-row {
    flex-direction: column !important;
  }

  .details-page-container > .ant-col, 
  .details-page-container .ant-col-10,
  .details-page-container .ant-col {
    width: 100% !important;
    max-width: 100% !important;
  }

  .ant-menu {
    flex-direction: column;
  }

}
